GitBucket/Ateliers.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "5c302bfd-87d0-33b1-8d06-6803b1a5be7e",
        "inputPorts" : [ ],
        "instanceIdentifier" : "86d2b4f8-018c-1000-e579-a75bf09b4f7d",
        "labels" : [ ],
        "name" : "Ateliers",
        "outputPorts" : [ ],
        "position" : {
          "x" : -216.0,
          "y" : -96.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "83a81e96-843a-3b22-ba93-e35d6cd8b28a",
              "instanceIdentifier" : "86f8bdb6-018c-1000-a882-d187f272a816",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "d288c4ed-a05b-3b9d-9bbe-7471a4a26f1c",
            "instanceIdentifier" : "86ffe32f-018c-1000-86b5-a2e60295a5f0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "0b5e0548-5390-3dec-9284-f1681c8400e9",
              "instanceIdentifier" : "86ec8106-018c-1000-e339-586fc5865f95",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "2b3fa027-560e-3993-a5dd-089ca1fb1960",
              "instanceIdentifier" : "871902fb-018c-1000-3d0d-8e1eff761bd0",
              "name" : "PutEmail",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "5616ca70-681f-3890-8932-534e5237463e",
            "instanceIdentifier" : "871d779c-018c-1000-f731-952d55c5b103",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "5129d058-3b7b-32bf-a8f2-8343033351e7",
              "instanceIdentifier" : "8716573f-018c-1000-cd92-4d0f38b3f06d",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "0b5e0548-5390-3dec-9284-f1681c8400e9",
              "instanceIdentifier" : "86ec8106-018c-1000-e339-586fc5865f95",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "41cad305-c00b-3784-b046-1d09762edb94",
            "instanceIdentifier" : "86ec9c3a-018c-1000-d482-cd4a99393674",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "4724d9b8-1d05-34b4-9f66-3b07e55df087",
              "instanceIdentifier" : "86da5825-018c-1000-852a-a757fcbac4a4",
              "name" : "GetFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "5129d058-3b7b-32bf-a8f2-8343033351e7",
              "instanceIdentifier" : "8716573f-018c-1000-cd92-4d0f38b3f06d",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "784d71ef-02dc-3c5b-bf3b-4725029d35da",
            "instanceIdentifier" : "87167c5a-018c-1000-c960-6a71e979c9a5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "72686b30-22ef-36a4-a885-783346ddd393",
              "instanceIdentifier" : "87139aa5-018c-1000-ff36-9745968b9ede",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "72686b30-22ef-36a4-a885-783346ddd393",
              "instanceIdentifier" : "87139aa5-018c-1000-ff36-9745968b9ede",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "728cbff0-4a2d-3b05-a904-df3aa0dcd55b",
            "instanceIdentifier" : "8713b848-018c-1000-6b86-a72f458c4321",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
              "id" : "83a81e96-843a-3b22-ba93-e35d6cd8b28a",
              "instanceIdentifier" : "86f8bdb6-018c-1000-a882-d187f272a816",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "5c302bfd-87d0-33b1-8d06-6803b1a5be7e",
          "identifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
          "inputPorts" : [ ],
          "instanceIdentifier" : "86d2d668-018c-1000-8754-bc832ae376df",
          "labels" : [ ],
          "name" : "Atelier 1",
          "outputPorts" : [ ],
          "position" : {
            "x" : 208.0,
            "y" : -32.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "83a81e96-843a-3b22-ba93-e35d6cd8b28a",
            "instanceIdentifier" : "86f8bdb6-018c-1000-a882-d187f272a816",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 536.0,
              "y" : 160.0
            },
            "properties" : {
              "Regular Expression" : "^((?:.*,){3})(.*,)((?:.*,){3})(.*)",
              "Replacement Value" : "$1$2$3",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "0b5e0548-5390-3dec-9284-f1681c8400e9",
            "instanceIdentifier" : "86ec8106-018c-1000-e339-586fc5865f95",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1144.0,
              "y" : -24.0
            },
            "properties" : {
              "Remove Trailing Newlines" : "false",
              "Header Line Count" : "0",
              "Line Split Count" : "1"
            },
            "propertyDescriptors" : {
              "Remove Trailing Newlines" : {
                "displayName" : "Remove Trailing Newlines",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Remove Trailing Newlines",
                "sensitive" : false
              },
              "Maximum Fragment Size" : {
                "displayName" : "Maximum Fragment Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Fragment Size",
                "sensitive" : false
              },
              "Header Line Marker Characters" : {
                "displayName" : "Header Line Marker Characters",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header Line Marker Characters",
                "sensitive" : false
              },
              "Header Line Count" : {
                "displayName" : "Header Line Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header Line Count",
                "sensitive" : false
              },
              "Line Split Count" : {
                "displayName" : "Line Split Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line Split Count",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "2b3fa027-560e-3993-a5dd-089ca1fb1960",
            "instanceIdentifier" : "871902fb-018c-1000-3d0d-8e1eff761bd0",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutEmail",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1144.0,
              "y" : 400.0
            },
            "properties" : {
              "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
              "Message" : "Atelier 1 job has failed",
              "Attach File" : "false",
              "input-character-set" : "UTF-8",
              "SMTP Port" : "465",
              "SMTP Auth" : "true",
              "From" : "souhaiel.mainsi@esprit.tn",
              "Include All Attributes In Message" : "false",
              "SMTP Hostname" : "smtp.gmail.com",
              "Subject" : "Message from NiFi",
              "SMTP X-Mailer Header" : "NiFi",
              "Content Type" : "text/plain",
              "SMTP Username" : "souhaiel.mainsi@esprit.tn",
              "To" : "souhaiel.mainsi@gmail.com",
              "email-ff-content-as-message" : "false",
              "authorization-mode" : "password-based-authorization-mode",
              "SMTP TLS" : "false"
            },
            "propertyDescriptors" : {
              "CC" : {
                "displayName" : "CC",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "CC",
                "sensitive" : false
              },
              "SMTP Socket Factory" : {
                "displayName" : "SMTP Socket Factory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP Socket Factory",
                "sensitive" : false
              },
              "BCC" : {
                "displayName" : "BCC",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "BCC",
                "sensitive" : false
              },
              "Message" : {
                "displayName" : "Message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Message",
                "sensitive" : false
              },
              "Attach File" : {
                "displayName" : "Attach File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Attach File",
                "sensitive" : false
              },
              "attribute-name-regex" : {
                "displayName" : "Attributes to Send as Headers (Regex)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "attribute-name-regex",
                "sensitive" : false
              },
              "input-character-set" : {
                "displayName" : "Input Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "input-character-set",
                "sensitive" : false
              },
              "SMTP Port" : {
                "displayName" : "SMTP Port",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP Port",
                "sensitive" : false
              },
              "SMTP Auth" : {
                "displayName" : "SMTP Auth",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP Auth",
                "sensitive" : false
              },
              "From" : {
                "displayName" : "From",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "From",
                "sensitive" : false
              },
              "Include All Attributes In Message" : {
                "displayName" : "Include All Attributes In Message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Include All Attributes In Message",
                "sensitive" : false
              },
              "SMTP Hostname" : {
                "displayName" : "SMTP Hostname",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP Hostname",
                "sensitive" : false
              },
              "Subject" : {
                "displayName" : "Subject",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Subject",
                "sensitive" : false
              },
              "SMTP X-Mailer Header" : {
                "displayName" : "SMTP X-Mailer Header",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP X-Mailer Header",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "OAuth2 Access Token Provider",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "SMTP Username" : {
                "displayName" : "SMTP Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP Username",
                "sensitive" : false
              },
              "To" : {
                "displayName" : "To",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "To",
                "sensitive" : false
              },
              "SMTP Password" : {
                "displayName" : "SMTP Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP Password",
                "sensitive" : true
              },
              "email-ff-content-as-message" : {
                "displayName" : "Flow file content as message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "email-ff-content-as-message",
                "sensitive" : false
              },
              "authorization-mode" : {
                "displayName" : "Authorization Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "authorization-mode",
                "sensitive" : false
              },
              "SMTP TLS" : {
                "displayName" : "SMTP STARTTLS",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "SMTP TLS",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutEmail",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "4724d9b8-1d05-34b4-9f66-3b07e55df087",
            "instanceIdentifier" : "86da5825-018c-1000-852a-a757fcbac4a4",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 536.0,
              "y" : -40.0
            },
            "properties" : {
              "Keep Source File" : "false",
              "Minimum File Age" : "0 sec",
              "Polling Interval" : "0 sec",
              "Input Directory" : "Y:\\APACHE NIFI\\Data\\Input",
              "Batch Size" : "10",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "Recurse Subdirectories" : "false",
              "File Filter" : ".*2023.*.csv"
            },
            "propertyDescriptors" : {
              "Keep Source File" : {
                "displayName" : "Keep Source File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Keep Source File",
                "sensitive" : false
              },
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "Polling Interval" : {
                "displayName" : "Polling Interval",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Polling Interval",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GetFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "5129d058-3b7b-32bf-a8f2-8343033351e7",
            "instanceIdentifier" : "8716573f-018c-1000-cd92-4d0f38b3f06d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 536.0,
              "y" : 376.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Maximum File Count" : "1",
              "Directory" : "Y:\\APACHE NIFI\\Data\\Output",
              "Conflict Resolution Strategy" : "ignore"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "5b6bb0bf-504d-3feb-ab74-c2228f31f281",
            "identifier" : "72686b30-22ef-36a4-a885-783346ddd393",
            "instanceIdentifier" : "87139aa5-018c-1000-ff36-9745968b9ede",
            "maxBackoffPeriod" : "10 mins",
            "name" : "MergeContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1144.0,
              "y" : 168.0
            },
            "properties" : {
              "Keep Path" : "false",
              "Merge Strategy" : "Bin-Packing Algorithm",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "Compression Level" : "1",
              "Maximum Number of Entries" : "10000",
              "Minimum Group Size" : "0 B",
              "Maximum number of Bins" : "5",
              "Tar Modified Time" : "${file.lastModifiedTime}",
              "Delimiter Strategy" : "Do Not Use Delimiters",
              "Merge Format" : "Binary Concatenation",
              "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
              "Minimum Number of Entries" : "1"
            },
            "propertyDescriptors" : {
              "Keep Path" : {
                "displayName" : "Keep Path",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Keep Path",
                "sensitive" : false
              },
              "Maximum Group Size" : {
                "displayName" : "Maximum Group Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Group Size",
                "sensitive" : false
              },
              "Merge Strategy" : {
                "displayName" : "Merge Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Merge Strategy",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "Compression Level" : {
                "displayName" : "Compression Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Compression Level",
                "sensitive" : false
              },
              "Maximum Number of Entries" : {
                "displayName" : "Maximum Number of Entries",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Number of Entries",
                "sensitive" : false
              },
              "Minimum Group Size" : {
                "displayName" : "Minimum Group Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum Group Size",
                "sensitive" : false
              },
              "Maximum number of Bins" : {
                "displayName" : "Maximum number of Bins",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum number of Bins",
                "sensitive" : false
              },
              "Tar Modified Time" : {
                "displayName" : "Tar Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Tar Modified Time",
                "sensitive" : false
              },
              "Delimiter Strategy" : {
                "displayName" : "Delimiter Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delimiter Strategy",
                "sensitive" : false
              },
              "Merge Format" : {
                "displayName" : "Merge Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Merge Format",
                "sensitive" : false
              },
              "Footer File" : {
                "displayName" : "Footer",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Footer File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Max Bin Age" : {
                "displayName" : "Max Bin Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Bin Age",
                "sensitive" : false
              },
              "Demarcator File" : {
                "displayName" : "Demarcator",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Demarcator File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Correlation Attribute Name" : {
                "displayName" : "Correlation Attribute Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Correlation Attribute Name",
                "sensitive" : false
              },
              "Header File" : {
                "displayName" : "Header",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "mergecontent-metadata-strategy" : {
                "displayName" : "Metadata Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "mergecontent-metadata-strategy",
                "sensitive" : false
              },
              "Minimum Number of Entries" : {
                "displayName" : "Minimum Number of Entries",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum Number of Entries",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeContent",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4d4c5132-6026-37b0-b14f-a228fcbf098c",
              "id" : "18ecf6e5-416e-3cac-af36-511d5182fb3e",
              "instanceIdentifier" : "8c819a8b-018c-1000-4a4c-2852a089ac4e",
              "name" : "PublishKafka_2_0",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4d4c5132-6026-37b0-b14f-a228fcbf098c",
            "identifier" : "01b557d3-89c7-3762-9897-8823462121d3",
            "instanceIdentifier" : "8c830d7b-018c-1000-2b94-e31b92e00ab7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "4d4c5132-6026-37b0-b14f-a228fcbf098c",
              "id" : "7cbaa652-add2-399f-a8d6-b27ae81e39b5",
              "instanceIdentifier" : "8c59e29c-018c-1000-7245-c00791d51a83",
              "name" : "ConsumeKafka_2_0",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "5c302bfd-87d0-33b1-8d06-6803b1a5be7e",
          "identifier" : "4d4c5132-6026-37b0-b14f-a228fcbf098c",
          "inputPorts" : [ ],
          "instanceIdentifier" : "8c58db75-018c-1000-fde4-9ecc1bbf4d0d",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "Atelier 3",
          "outputPorts" : [ ],
          "position" : {
            "x" : 208.0,
            "y" : 176.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-kafka-2-0-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4d4c5132-6026-37b0-b14f-a228fcbf098c",
            "identifier" : "7cbaa652-add2-399f-a8d6-b27ae81e39b5",
            "instanceIdentifier" : "8c59e29c-018c-1000-7245-c00791d51a83",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ConsumeKafka_2_0",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 436.0,
              "y" : 61.0
            },
            "properties" : {
              "max.poll.records" : "10000",
              "group.id" : "test",
              "bootstrap.servers" : "DESKTOP-TK72JF3.lan:9092",
              "topic_type" : "names",
              "security.protocol" : "PLAINTEXT",
              "max-uncommit-offset-wait" : "1 secs",
              "sasl.mechanism" : "GSSAPI",
              "sasl.token.auth" : "false",
              "honor-transactions" : "true",
              "Communications Timeout" : "60 secs",
              "topic" : "kafka-nifi-src",
              "separate-by-key" : "false",
              "message-header-encoding" : "UTF-8",
              "key-attribute-encoding" : "utf-8",
              "auto.offset.reset" : "latest"
            },
            "propertyDescriptors" : {
              "header-name-regex" : {
                "displayName" : "Headers to Add as Attributes (Regex)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "header-name-regex",
                "sensitive" : false
              },
              "group.id" : {
                "displayName" : "Group ID",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "group.id",
                "sensitive" : false
              },
              "bootstrap.servers" : {
                "displayName" : "Kafka Brokers",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "bootstrap.servers",
                "sensitive" : false
              },
              "topic_type" : {
                "displayName" : "Topic Name Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "topic_type",
                "sensitive" : false
              },
              "sasl.kerberos.principal" : {
                "displayName" : "Kerberos Principal",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.kerberos.principal",
                "sensitive" : false
              },
              "sasl.kerberos.service.name" : {
                "displayName" : "Kerberos Service Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.kerberos.service.name",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "max-uncommit-offset-wait" : {
                "displayName" : "Max Uncommitted Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "max-uncommit-offset-wait",
                "sensitive" : false
              },
              "sasl.mechanism" : {
                "displayName" : "SASL Mechanism",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.mechanism",
                "sensitive" : false
              },
              "honor-transactions" : {
                "displayName" : "Honor Transactions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "honor-transactions",
                "sensitive" : false
              },
              "message-header-encoding" : {
                "displayName" : "Message Header Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "message-header-encoding",
                "sensitive" : false
              },
              "message-demarcator" : {
                "displayName" : "Message Demarcator",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "message-demarcator",
                "sensitive" : false
              },
              "sasl.username" : {
                "displayName" : "Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.username",
                "sensitive" : false
              },
              "max.poll.records" : {
                "displayName" : "Max Poll Records",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "max.poll.records",
                "sensitive" : false
              },
              "aws.profile.name" : {
                "displayName" : "AWS Profile Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "aws.profile.name",
                "sensitive" : false
              },
              "security.protocol" : {
                "displayName" : "Security Protocol",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "security.protocol",
                "sensitive" : false
              },
              "ssl.context.service" : {
                "displayName" : "SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "ssl.context.service",
                "sensitive" : false
              },
              "sasl.token.auth" : {
                "displayName" : "Token Authentication",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.token.auth",
                "sensitive" : false
              },
              "sasl.kerberos.keytab" : {
                "displayName" : "Kerberos Keytab",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.kerberos.keytab",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "Communications Timeout" : {
                "displayName" : "Communications Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Communications Timeout",
                "sensitive" : false
              },
              "topic" : {
                "displayName" : "Topic Name(s)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "topic",
                "sensitive" : false
              },
              "separate-by-key" : {
                "displayName" : "Separate By Key",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "separate-by-key",
                "sensitive" : false
              },
              "sasl.password" : {
                "displayName" : "Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.password",
                "sensitive" : true
              },
              "key-attribute-encoding" : {
                "displayName" : "Key Attribute Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "key-attribute-encoding",
                "sensitive" : false
              },
              "auto.offset.reset" : {
                "displayName" : "Offset Reset",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "auto.offset.reset",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-kafka-2-0-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4d4c5132-6026-37b0-b14f-a228fcbf098c",
            "identifier" : "18ecf6e5-416e-3cac-af36-511d5182fb3e",
            "instanceIdentifier" : "8c819a8b-018c-1000-4a4c-2852a089ac4e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PublishKafka_2_0",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 962.0,
              "y" : 338.0
            },
            "properties" : {
              "compression.type" : "none",
              "bootstrap.servers" : "DESKTOP-TK72JF3.lan:9092",
              "sasl.mechanism" : "GSSAPI",
              "max.block.ms" : "5 sec",
              "message-header-encoding" : "UTF-8",
              "ack.wait.time" : "5 secs",
              "use-transactions" : "false",
              "acks" : "1",
              "security.protocol" : "PLAINTEXT",
              "max.request.size" : "1 MB",
              "sasl.token.auth" : "false",
              "Failure Strategy" : "Route to Failure",
              "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
              "topic" : "kafka-nifi-dst",
              "key-attribute-encoding" : "utf-8"
            },
            "propertyDescriptors" : {
              "compression.type" : {
                "displayName" : "Compression Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "compression.type",
                "sensitive" : false
              },
              "attribute-name-regex" : {
                "displayName" : "Attributes to Send as Headers (Regex)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "attribute-name-regex",
                "sensitive" : false
              },
              "bootstrap.servers" : {
                "displayName" : "Kafka Brokers",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "bootstrap.servers",
                "sensitive" : false
              },
              "sasl.kerberos.principal" : {
                "displayName" : "Kerberos Principal",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.kerberos.principal",
                "sensitive" : false
              },
              "sasl.kerberos.service.name" : {
                "displayName" : "Kerberos Service Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.kerberos.service.name",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "kafka-key" : {
                "displayName" : "Kafka Key",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "kafka-key",
                "sensitive" : false
              },
              "partition" : {
                "displayName" : "Partition",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "partition",
                "sensitive" : false
              },
              "sasl.mechanism" : {
                "displayName" : "SASL Mechanism",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.mechanism",
                "sensitive" : false
              },
              "max.block.ms" : {
                "displayName" : "Max Metadata Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "max.block.ms",
                "sensitive" : false
              },
              "message-header-encoding" : {
                "displayName" : "Message Header Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "message-header-encoding",
                "sensitive" : false
              },
              "message-demarcator" : {
                "displayName" : "Message Demarcator",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "message-demarcator",
                "sensitive" : false
              },
              "transactional-id-prefix" : {
                "displayName" : "Transactional Id Prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "transactional-id-prefix",
                "sensitive" : false
              },
              "ack.wait.time" : {
                "displayName" : "Acknowledgment Wait Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "ack.wait.time",
                "sensitive" : false
              },
              "sasl.username" : {
                "displayName" : "Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.username",
                "sensitive" : false
              },
              "use-transactions" : {
                "displayName" : "Use Transactions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "use-transactions",
                "sensitive" : false
              },
              "acks" : {
                "displayName" : "Delivery Guarantee",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "acks",
                "sensitive" : false
              },
              "aws.profile.name" : {
                "displayName" : "AWS Profile Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "aws.profile.name",
                "sensitive" : false
              },
              "security.protocol" : {
                "displayName" : "Security Protocol",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "security.protocol",
                "sensitive" : false
              },
              "ssl.context.service" : {
                "displayName" : "SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "ssl.context.service",
                "sensitive" : false
              },
              "max.request.size" : {
                "displayName" : "Max Request Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "max.request.size",
                "sensitive" : false
              },
              "sasl.token.auth" : {
                "displayName" : "Token Authentication",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.token.auth",
                "sensitive" : false
              },
              "Failure Strategy" : {
                "displayName" : "Failure Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Failure Strategy",
                "sensitive" : false
              },
              "partitioner.class" : {
                "displayName" : "Partitioner class",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "partitioner.class",
                "sensitive" : false
              },
              "sasl.kerberos.keytab" : {
                "displayName" : "Kerberos Keytab",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.kerberos.keytab",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "topic" : {
                "displayName" : "Topic Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "topic",
                "sensitive" : false
              },
              "sasl.password" : {
                "displayName" : "Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "sasl.password",
                "sensitive" : true
              },
              "key-attribute-encoding" : {
                "displayName" : "Key Attribute Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "key-attribute-encoding",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "5c302bfd-87d0-33b1-8d06-6803b1a5be7e",
          "identifier" : "eeae3839-2da9-3101-afc7-dd3299f23fd2",
          "inputPorts" : [ ],
          "instanceIdentifier" : "87c4d0d9-018c-1000-e4fd-e2a2ad7f9eea",
          "labels" : [ ],
          "name" : "Atelier 2",
          "outputPorts" : [ ],
          "position" : {
            "x" : 632.0,
            "y" : -32.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "27608708-643e-328b-b356-327dbb3a30c3",
                "instanceIdentifier" : "52f9c7b6-3979-3e45-50fa-0b8b37fee6d6",
                "name" : "converted_xlsx_files_to_csv",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "544aca09-8fb9-3009-a819-c0016bef8e75",
              "instanceIdentifier" : "d3c88201-fcec-3722-bfca-b1dd4a738d67",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "94a3b47f-64f4-347f-a4c4-46c5c930151e",
                "instanceIdentifier" : "64525ff2-54f0-3a1b-22d8-f7b20e8fa99b",
                "name" : "convert xlsx files",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "f33bae23-734f-3287-80d2-d409b6c5db57",
                "instanceIdentifier" : "85c8033e-13c5-35b6-08a1-3057f1912242",
                "name" : "UpdateAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "02a8eab6-a89c-335f-9854-a4bfe7b0a784",
              "instanceIdentifier" : "2e55bdc9-17f9-39ba-2e2d-f47fdc22fd4b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "155152f4-e6e0-3849-a5f8-f6965583fb53",
                "instanceIdentifier" : "faa4ea2a-524b-3923-8848-6df6e316dd14",
                "name" : "GetFile",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "07f1b4ce-ff32-375a-ae61-8b3d03eb157e",
                "instanceIdentifier" : "b056f7e2-31c0-3020-af3d-11efd39cf244",
                "name" : "Log Script Errors",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "2dd437ea-5578-36f4-a9ab-da6c253d59b1",
              "instanceIdentifier" : "49c320dd-2eab-339f-7f7d-769e98132987",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "nonzero status" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "237f4b8e-aa8d-36ae-be74-746764a65fc4",
                "instanceIdentifier" : "ef1272cf-ac5e-3133-accc-e6d41edcab34",
                "name" : "Execute xls_to_csv_python_script",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "94a3b47f-64f4-347f-a4c4-46c5c930151e",
                "instanceIdentifier" : "64525ff2-54f0-3a1b-22d8-f7b20e8fa99b",
                "name" : "convert xlsx files",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "9ae385b3-3286-3ef9-9b01-7ffd4e47c856",
              "instanceIdentifier" : "1b22552c-c5e8-36b2-0eae-f064026f0289",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "xlsx_files" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "cbace27b-00ab-3a6d-a106-000a9ff2b506",
                "instanceIdentifier" : "6552cd51-7d8d-3c99-6441-9dc90885b557",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "237f4b8e-aa8d-36ae-be74-746764a65fc4",
                "instanceIdentifier" : "ef1272cf-ac5e-3133-accc-e6d41edcab34",
                "name" : "Execute xls_to_csv_python_script",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "6bd65cc0-5e28-344c-9b02-f6941a171e7a",
              "instanceIdentifier" : "adbcd04e-8251-3c58-88a4-aca40348a1f5",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "2d54bdb3-91fb-31f5-9f89-5679b935d6dc",
                "instanceIdentifier" : "7122b005-6dc8-3aaa-dc57-14231e88e426",
                "name" : "unprocessed_xls_files",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "2d54bdb3-91fb-31f5-9f89-5679b935d6dc",
                "instanceIdentifier" : "7122b005-6dc8-3aaa-dc57-14231e88e426",
                "name" : "unprocessed_xls_files",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "c6f27eee-14fb-3fe5-b5ef-5cf7f32bb14c",
              "instanceIdentifier" : "783644e3-a2fb-3ecf-49ac-cdad19107da3",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "xls_files" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "cbace27b-00ab-3a6d-a106-000a9ff2b506",
                "instanceIdentifier" : "6552cd51-7d8d-3c99-6441-9dc90885b557",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "cbace27b-00ab-3a6d-a106-000a9ff2b506",
                "instanceIdentifier" : "6552cd51-7d8d-3c99-6441-9dc90885b557",
                "name" : "RouteOnAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "5e245e1b-ee45-3d88-9309-a7de92e5ea28",
              "instanceIdentifier" : "480a6aef-3261-3cbc-e91c-cf0e0fbcbf08",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
                "id" : "f33bae23-734f-3287-80d2-d409b6c5db57",
                "instanceIdentifier" : "85c8033e-13c5-35b6-08a1-3057f1912242",
                "name" : "UpdateAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "eeae3839-2da9-3101-afc7-dd3299f23fd2",
            "identifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
            "inputPorts" : [ ],
            "instanceIdentifier" : "87f06852-018c-1000-6793-6a8e0d68280c",
            "labels" : [ ],
            "name" : "Excel to CSV conversion",
            "outputPorts" : [ ],
            "position" : {
              "x" : 648.0,
              "y" : -32.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "f33bae23-734f-3287-80d2-d409b6c5db57",
              "instanceIdentifier" : "85c8033e-13c5-35b6-08a1-3057f1912242",
              "maxBackoffPeriod" : "10 mins",
              "name" : "UpdateAttribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 304.0,
                "y" : 168.0
              },
              "properties" : {
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100",
                "xls.dir" : "${absolute.path}xls"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                },
                "xls.dir" : {
                  "displayName" : "xls.dir",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "xls.dir",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "07f1b4ce-ff32-375a-ae61-8b3d03eb157e",
              "instanceIdentifier" : "b056f7e2-31c0-3020-af3d-11efd39cf244",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Log Script Errors",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : -288.0,
                "y" : 920.0
              },
              "properties" : {
                "Log prefix" : "xls-script-error",
                "character-set" : "UTF-8",
                "Log FlowFile Properties" : "true",
                "Log Level" : "error",
                "Attributes to Log" : "entryDate,lineageStartDate,execution.error",
                "attributes-to-log-regex" : ".*",
                "Output Format" : "Line per Attribute",
                "Log Payload" : "false"
              },
              "propertyDescriptors" : {
                "Log prefix" : {
                  "displayName" : "Log prefix",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Log prefix",
                  "sensitive" : false
                },
                "character-set" : {
                  "displayName" : "Character Set",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "character-set",
                  "sensitive" : false
                },
                "Log FlowFile Properties" : {
                  "displayName" : "Log FlowFile Properties",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Log FlowFile Properties",
                  "sensitive" : false
                },
                "Log Level" : {
                  "displayName" : "Log Level",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Log Level",
                  "sensitive" : false
                },
                "attributes-to-ignore-regex" : {
                  "displayName" : "Attributes to Ignore by Regular Expression",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "attributes-to-ignore-regex",
                  "sensitive" : false
                },
                "Attributes to Ignore" : {
                  "displayName" : "Attributes to Ignore",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Ignore",
                  "sensitive" : false
                },
                "Attributes to Log" : {
                  "displayName" : "Attributes to Log",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Log",
                  "sensitive" : false
                },
                "attributes-to-log-regex" : {
                  "displayName" : "Attributes to Log by Regular Expression",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "attributes-to-log-regex",
                  "sensitive" : false
                },
                "Output Format" : {
                  "displayName" : "Output Format",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Output Format",
                  "sensitive" : false
                },
                "Log Payload" : {
                  "displayName" : "Log Payload",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Log Payload",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.LogAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success", "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "27608708-643e-328b-b356-327dbb3a30c3",
              "instanceIdentifier" : "52f9c7b6-3979-3e45-50fa-0b8b37fee6d6",
              "maxBackoffPeriod" : "10 mins",
              "name" : "converted_xlsx_files_to_csv",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 1000.0,
                "y" : 712.0
              },
              "properties" : {
                "Create Missing Directories" : "true",
                "Directory" : "${output.dir}",
                "Conflict Resolution Strategy" : "ignore"
              },
              "propertyDescriptors" : {
                "Group" : {
                  "displayName" : "Group",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Group",
                  "sensitive" : false
                },
                "Owner" : {
                  "displayName" : "Owner",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Owner",
                  "sensitive" : false
                },
                "Create Missing Directories" : {
                  "displayName" : "Create Missing Directories",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Create Missing Directories",
                  "sensitive" : false
                },
                "Permissions" : {
                  "displayName" : "Permissions",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Permissions",
                  "sensitive" : false
                },
                "Maximum File Count" : {
                  "displayName" : "Maximum File Count",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Count",
                  "sensitive" : false
                },
                "Last Modified Time" : {
                  "displayName" : "Last Modified Time",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Last Modified Time",
                  "sensitive" : false
                },
                "Directory" : {
                  "displayName" : "Directory",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Directory",
                  "sensitive" : false
                },
                "Conflict Resolution Strategy" : {
                  "displayName" : "Conflict Resolution Strategy",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Conflict Resolution Strategy",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.PutFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "155152f4-e6e0-3849-a5f8-f6965583fb53",
              "instanceIdentifier" : "faa4ea2a-524b-3923-8848-6df6e316dd14",
              "maxBackoffPeriod" : "10 mins",
              "name" : "GetFile",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 304.0,
                "y" : -64.0
              },
              "properties" : {
                "Keep Source File" : "false",
                "Minimum File Age" : "0 sec",
                "Polling Interval" : "0 sec",
                "Input Directory" : "${input.dir}",
                "Batch Size" : "10",
                "Minimum File Size" : "0 B",
                "Ignore Hidden Files" : "true",
                "Recurse Subdirectories" : "false",
                "File Filter" : "([^\\s]+(\\.(xls|XLS|xlsx|XLSX))$)"
              },
              "propertyDescriptors" : {
                "Keep Source File" : {
                  "displayName" : "Keep Source File",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Keep Source File",
                  "sensitive" : false
                },
                "Minimum File Age" : {
                  "displayName" : "Minimum File Age",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Minimum File Age",
                  "sensitive" : false
                },
                "Polling Interval" : {
                  "displayName" : "Polling Interval",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Polling Interval",
                  "sensitive" : false
                },
                "Input Directory" : {
                  "displayName" : "Input Directory",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Input Directory",
                  "sensitive" : false
                },
                "Maximum File Age" : {
                  "displayName" : "Maximum File Age",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Age",
                  "sensitive" : false
                },
                "Batch Size" : {
                  "displayName" : "Batch Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Batch Size",
                  "sensitive" : false
                },
                "Maximum File Size" : {
                  "displayName" : "Maximum File Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Size",
                  "sensitive" : false
                },
                "Minimum File Size" : {
                  "displayName" : "Minimum File Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Minimum File Size",
                  "sensitive" : false
                },
                "Ignore Hidden Files" : {
                  "displayName" : "Ignore Hidden Files",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Ignore Hidden Files",
                  "sensitive" : false
                },
                "Recurse Subdirectories" : {
                  "displayName" : "Recurse Subdirectories",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Recurse Subdirectories",
                  "sensitive" : false
                },
                "File Filter" : {
                  "displayName" : "File Filter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "File Filter",
                  "sensitive" : false
                },
                "Path Filter" : {
                  "displayName" : "Path Filter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Path Filter",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.GetFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "2d54bdb3-91fb-31f5-9f89-5679b935d6dc",
              "instanceIdentifier" : "7122b005-6dc8-3aaa-dc57-14231e88e426",
              "maxBackoffPeriod" : "10 mins",
              "name" : "unprocessed_xls_files",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : -288.0,
                "y" : 384.0
              },
              "properties" : {
                "Create Missing Directories" : "true",
                "Directory" : "${xls.dir}",
                "Conflict Resolution Strategy" : "replace"
              },
              "propertyDescriptors" : {
                "Group" : {
                  "displayName" : "Group",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Group",
                  "sensitive" : false
                },
                "Owner" : {
                  "displayName" : "Owner",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Owner",
                  "sensitive" : false
                },
                "Create Missing Directories" : {
                  "displayName" : "Create Missing Directories",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Create Missing Directories",
                  "sensitive" : false
                },
                "Permissions" : {
                  "displayName" : "Permissions",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Permissions",
                  "sensitive" : false
                },
                "Maximum File Count" : {
                  "displayName" : "Maximum File Count",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Count",
                  "sensitive" : false
                },
                "Last Modified Time" : {
                  "displayName" : "Last Modified Time",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Last Modified Time",
                  "sensitive" : false
                },
                "Directory" : {
                  "displayName" : "Directory",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Directory",
                  "sensitive" : false
                },
                "Conflict Resolution Strategy" : {
                  "displayName" : "Conflict Resolution Strategy",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Conflict Resolution Strategy",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.PutFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "unmatched" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "cbace27b-00ab-3a6d-a106-000a9ff2b506",
              "instanceIdentifier" : "6552cd51-7d8d-3c99-6441-9dc90885b557",
              "maxBackoffPeriod" : "10 mins",
              "name" : "RouteOnAttribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 304.0,
                "y" : 384.0
              },
              "properties" : {
                "Routing Strategy" : "Route to Property name",
                "xlsx_files" : "${filename:matches('([^\\s]+(\\.(xlsx|XLSX))$)')}",
                "xls_files" : "${filename:matches('([^\\s]+(\\.(xls|XLS))$)')}"
              },
              "propertyDescriptors" : {
                "Routing Strategy" : {
                  "displayName" : "Routing Strategy",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Routing Strategy",
                  "sensitive" : false
                },
                "xlsx_files" : {
                  "displayName" : "xlsx_files",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "xlsx_files",
                  "sensitive" : false
                },
                "xls_files" : {
                  "displayName" : "xls_files",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "xls_files",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "original", "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-poi-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "94a3b47f-64f4-347f-a4c4-46c5c930151e",
              "instanceIdentifier" : "64525ff2-54f0-3a1b-22d8-f7b20e8fa99b",
              "maxBackoffPeriod" : "10 mins",
              "name" : "convert xlsx files",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 992.0,
                "y" : 392.0
              },
              "properties" : {
                "excel-extract-first-row" : "0",
                "CSV Format" : "custom",
                "Quote Character" : "\"",
                "Include Header Line" : "true",
                "Value Separator" : ",",
                "Record Separator" : "\\n",
                "Escape Character" : "\\",
                "excel-format-values" : "false",
                "Trim Fields" : "true",
                "excel-format-booleans" : "true",
                "Quote Mode" : "NONE",
                "Include Trailing Delimiter" : "false"
              },
              "propertyDescriptors" : {
                "excel-extract-first-row" : {
                  "displayName" : "Number of Rows to Skip",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-extract-first-row",
                  "sensitive" : false
                },
                "excel-extract-column-to-skip" : {
                  "displayName" : "Columns To Skip",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-extract-column-to-skip",
                  "sensitive" : false
                },
                "CSV Format" : {
                  "displayName" : "CSV Format",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "CSV Format",
                  "sensitive" : false
                },
                "Quote Character" : {
                  "displayName" : "Quote Character",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Quote Character",
                  "sensitive" : false
                },
                "Include Header Line" : {
                  "displayName" : "Include Header Line",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Include Header Line",
                  "sensitive" : false
                },
                "Value Separator" : {
                  "displayName" : "Value Separator",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Value Separator",
                  "sensitive" : false
                },
                "Record Separator" : {
                  "displayName" : "Record Separator",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Record Separator",
                  "sensitive" : false
                },
                "Escape Character" : {
                  "displayName" : "Escape Character",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Escape Character",
                  "sensitive" : false
                },
                "extract-sheets" : {
                  "displayName" : "Sheets to Extract",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "extract-sheets",
                  "sensitive" : false
                },
                "excel-format-values" : {
                  "displayName" : "Format Cell Values",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-format-values",
                  "sensitive" : false
                },
                "Null String" : {
                  "displayName" : "Null String",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Null String",
                  "sensitive" : false
                },
                "Trim Fields" : {
                  "displayName" : "Trim Fields",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Trim Fields",
                  "sensitive" : false
                },
                "Comment Marker" : {
                  "displayName" : "Comment Marker",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Comment Marker",
                  "sensitive" : false
                },
                "excel-format-booleans" : {
                  "displayName" : "Format Booleans",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-format-booleans",
                  "sensitive" : false
                },
                "Quote Mode" : {
                  "displayName" : "Quote Mode",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Quote Mode",
                  "sensitive" : false
                },
                "Include Trailing Delimiter" : {
                  "displayName" : "Include Trailing Delimiter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Include Trailing Delimiter",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "output stream", "original" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "1e34a9c0-993b-32d8-b41c-728d6e7f0b07",
              "identifier" : "237f4b8e-aa8d-36ae-be74-746764a65fc4",
              "instanceIdentifier" : "ef1272cf-ac5e-3133-accc-e6d41edcab34",
              "maxBackoffPeriod" : "10 mins",
              "name" : "Execute xls_to_csv_python_script",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : -288.0,
                "y" : 696.0
              },
              "properties" : {
                "argumentsStrategy" : "Command Arguments Property",
                "Max Attribute Length" : "256",
                "Working Directory" : "${working.dir}",
                "Command Path" : "python",
                "Argument Delimiter" : ";",
                "Ignore STDIN" : "true",
                "Command Arguments" : "xls_to_csv_nifi.py;${xls.dir}"
              },
              "propertyDescriptors" : {
                "argumentsStrategy" : {
                  "displayName" : "Command Arguments Strategy",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "argumentsStrategy",
                  "sensitive" : false
                },
                "Max Attribute Length" : {
                  "displayName" : "Max Attribute Length",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Max Attribute Length",
                  "sensitive" : false
                },
                "Output MIME Type" : {
                  "displayName" : "Output MIME Type",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Output MIME Type",
                  "sensitive" : false
                },
                "Working Directory" : {
                  "displayName" : "Working Directory",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Working Directory",
                  "sensitive" : false
                },
                "Command Path" : {
                  "displayName" : "Command Path",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Command Path",
                  "sensitive" : false
                },
                "Output Destination Attribute" : {
                  "displayName" : "Output Destination Attribute",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Output Destination Attribute",
                  "sensitive" : false
                },
                "Argument Delimiter" : {
                  "displayName" : "Argument Delimiter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Argument Delimiter",
                  "sensitive" : false
                },
                "Ignore STDIN" : {
                  "displayName" : "Ignore STDIN",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Ignore STDIN",
                  "sensitive" : false
                },
                "Command Arguments" : {
                  "displayName" : "Command Arguments",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Command Arguments",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 0,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ]
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
                "id" : "740b9f27-11a8-3c87-8843-01cfaa9326df",
                "instanceIdentifier" : "87c9997f-018c-1000-e411-e532741bb943",
                "name" : "UpdateAttribute",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "7150c903-d8b6-3ab1-855b-1a8a14e14c82",
              "instanceIdentifier" : "87cd2306-018c-1000-1042-646900f69fc6",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
                "id" : "630999f9-d58c-3418-b56e-47ca94383f2e",
                "instanceIdentifier" : "87c7c743-018c-1000-e173-47c22bad46e9",
                "name" : "ConvertExcelToCSVProcessor",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
                "id" : "9173182b-a9e7-35af-a23c-22084007cf59",
                "instanceIdentifier" : "87d5d4e9-018c-1000-b966-2587de67c701",
                "name" : "PutFile",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "1e41aeb9-e9e3-303f-8938-6e67c9994b3d",
              "instanceIdentifier" : "87d5ecfc-018c-1000-823b-397be9af063c",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
                "id" : "740b9f27-11a8-3c87-8843-01cfaa9326df",
                "instanceIdentifier" : "87c9997f-018c-1000-e411-e532741bb943",
                "name" : "UpdateAttribute",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
                "id" : "630999f9-d58c-3418-b56e-47ca94383f2e",
                "instanceIdentifier" : "87c7c743-018c-1000-e173-47c22bad46e9",
                "name" : "ConvertExcelToCSVProcessor",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "fe4b6aaf-a88b-3b3d-8a6a-98e558925d8e",
              "instanceIdentifier" : "87c8b5c3-018c-1000-2613-82c7727b6026",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
                "id" : "bea9e6e6-1d27-383e-b5f0-611b7a9bc262",
                "instanceIdentifier" : "87c5191a-018c-1000-afe5-03dbcfc0ee33",
                "name" : "GetFile",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "defaultBackPressureDataSizeThreshold" : "1 GB",
            "defaultBackPressureObjectThreshold" : 10000,
            "defaultFlowFileExpiration" : "0 sec",
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "eeae3839-2da9-3101-afc7-dd3299f23fd2",
            "identifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
            "inputPorts" : [ ],
            "instanceIdentifier" : "87c4f2d7-018c-1000-06b4-862dad2d59f5",
            "labels" : [ ],
            "name" : "Extraction",
            "outputPorts" : [ ],
            "position" : {
              "x" : 224.0,
              "y" : -32.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "740b9f27-11a8-3c87-8843-01cfaa9326df",
              "instanceIdentifier" : "87c9997f-018c-1000-e411-e532741bb943",
              "maxBackoffPeriod" : "10 mins",
              "name" : "UpdateAttribute",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 216.0,
                "y" : 144.0
              },
              "properties" : {
                "filename" : "${filename:prepend(${now():format('yyyy-MM-dd_HH_mm_ss')})}",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "filename" : {
                  "displayName" : "filename",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "filename",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 25,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "success", "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "9173182b-a9e7-35af-a23c-22084007cf59",
              "instanceIdentifier" : "87d5d4e9-018c-1000-b966-2587de67c701",
              "maxBackoffPeriod" : "10 mins",
              "name" : "PutFile",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 824.0,
                "y" : 176.0
              },
              "properties" : {
                "Create Missing Directories" : "true",
                "Directory" : "Y:\\APACHE NIFI\\Data\\Output",
                "Conflict Resolution Strategy" : "fail"
              },
              "propertyDescriptors" : {
                "Group" : {
                  "displayName" : "Group",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Group",
                  "sensitive" : false
                },
                "Owner" : {
                  "displayName" : "Owner",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Owner",
                  "sensitive" : false
                },
                "Create Missing Directories" : {
                  "displayName" : "Create Missing Directories",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Create Missing Directories",
                  "sensitive" : false
                },
                "Permissions" : {
                  "displayName" : "Permissions",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Permissions",
                  "sensitive" : false
                },
                "Maximum File Count" : {
                  "displayName" : "Maximum File Count",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Count",
                  "sensitive" : false
                },
                "Last Modified Time" : {
                  "displayName" : "Last Modified Time",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Last Modified Time",
                  "sensitive" : false
                },
                "Directory" : {
                  "displayName" : "Directory",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Directory",
                  "sensitive" : false
                },
                "Conflict Resolution Strategy" : {
                  "displayName" : "Conflict Resolution Strategy",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Conflict Resolution Strategy",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.PutFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "original", "failure" ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-poi-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "630999f9-d58c-3418-b56e-47ca94383f2e",
              "instanceIdentifier" : "87c7c743-018c-1000-e173-47c22bad46e9",
              "maxBackoffPeriod" : "10 mins",
              "name" : "ConvertExcelToCSVProcessor",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 808.0,
                "y" : -16.0
              },
              "properties" : {
                "excel-extract-first-row" : "0",
                "CSV Format" : "custom",
                "Quote Character" : "\"",
                "Include Header Line" : "true",
                "Value Separator" : ",",
                "Record Separator" : "\\n",
                "Escape Character" : "\\",
                "excel-format-values" : "false",
                "Trim Fields" : "true",
                "excel-format-booleans" : "true",
                "Quote Mode" : "NONE",
                "Include Trailing Delimiter" : "false"
              },
              "propertyDescriptors" : {
                "excel-extract-first-row" : {
                  "displayName" : "Number of Rows to Skip",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-extract-first-row",
                  "sensitive" : false
                },
                "excel-extract-column-to-skip" : {
                  "displayName" : "Columns To Skip",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-extract-column-to-skip",
                  "sensitive" : false
                },
                "CSV Format" : {
                  "displayName" : "CSV Format",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "CSV Format",
                  "sensitive" : false
                },
                "Quote Character" : {
                  "displayName" : "Quote Character",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Quote Character",
                  "sensitive" : false
                },
                "Include Header Line" : {
                  "displayName" : "Include Header Line",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Include Header Line",
                  "sensitive" : false
                },
                "Value Separator" : {
                  "displayName" : "Value Separator",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Value Separator",
                  "sensitive" : false
                },
                "Record Separator" : {
                  "displayName" : "Record Separator",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Record Separator",
                  "sensitive" : false
                },
                "Escape Character" : {
                  "displayName" : "Escape Character",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Escape Character",
                  "sensitive" : false
                },
                "extract-sheets" : {
                  "displayName" : "Sheets to Extract",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "extract-sheets",
                  "sensitive" : false
                },
                "excel-format-values" : {
                  "displayName" : "Format Cell Values",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-format-values",
                  "sensitive" : false
                },
                "Null String" : {
                  "displayName" : "Null String",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Null String",
                  "sensitive" : false
                },
                "Trim Fields" : {
                  "displayName" : "Trim Fields",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Trim Fields",
                  "sensitive" : false
                },
                "Comment Marker" : {
                  "displayName" : "Comment Marker",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Comment Marker",
                  "sensitive" : false
                },
                "excel-format-booleans" : {
                  "displayName" : "Format Booleans",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "excel-format-booleans",
                  "sensitive" : false
                },
                "Quote Mode" : {
                  "displayName" : "Quote Mode",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Quote Mode",
                  "sensitive" : false
                },
                "Include Trailing Delimiter" : {
                  "displayName" : "Include Trailing Delimiter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Include Trailing Delimiter",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "backoffMechanism" : "PENALIZE_FLOWFILE",
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.24.0"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "e6ae3e9f-82a8-326f-8960-2a3b69bba34a",
              "identifier" : "bea9e6e6-1d27-383e-b5f0-611b7a9bc262",
              "instanceIdentifier" : "87c5191a-018c-1000-afe5-03dbcfc0ee33",
              "maxBackoffPeriod" : "10 mins",
              "name" : "GetFile",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 216.0,
                "y" : -32.0
              },
              "properties" : {
                "Keep Source File" : "false",
                "Minimum File Age" : "0 sec",
                "Polling Interval" : "0 sec",
                "Input Directory" : "Y:\\APACHE NIFI\\Data\\Input",
                "Batch Size" : "10",
                "Minimum File Size" : "0 B",
                "Ignore Hidden Files" : "true",
                "Recurse Subdirectories" : "false",
                "File Filter" : "festivals.xlsx"
              },
              "propertyDescriptors" : {
                "Keep Source File" : {
                  "displayName" : "Keep Source File",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Keep Source File",
                  "sensitive" : false
                },
                "Minimum File Age" : {
                  "displayName" : "Minimum File Age",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Minimum File Age",
                  "sensitive" : false
                },
                "Polling Interval" : {
                  "displayName" : "Polling Interval",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Polling Interval",
                  "sensitive" : false
                },
                "Input Directory" : {
                  "displayName" : "Input Directory",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Input Directory",
                  "sensitive" : false
                },
                "Maximum File Age" : {
                  "displayName" : "Maximum File Age",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Age",
                  "sensitive" : false
                },
                "Batch Size" : {
                  "displayName" : "Batch Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Batch Size",
                  "sensitive" : false
                },
                "Maximum File Size" : {
                  "displayName" : "Maximum File Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Size",
                  "sensitive" : false
                },
                "Minimum File Size" : {
                  "displayName" : "Minimum File Size",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Minimum File Size",
                  "sensitive" : false
                },
                "Ignore Hidden Files" : {
                  "displayName" : "Ignore Hidden Files",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Ignore Hidden Files",
                  "sensitive" : false
                },
                "Recurse Subdirectories" : {
                  "displayName" : "Recurse Subdirectories",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Recurse Subdirectories",
                  "sensitive" : false
                },
                "File Filter" : {
                  "displayName" : "File Filter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "File Filter",
                  "sensitive" : false
                },
                "Path Filter" : {
                  "displayName" : "Path Filter",
                  "dynamic" : false,
                  "identifiesControllerService" : false,
                  "name" : "Path Filter",
                  "sensitive" : false
                }
              },
              "retriedRelationships" : [ ],
              "retryCount" : 10,
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.GetFile",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ]
          } ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ]
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "5acf7f53-19fe-3b3d-81a2-c568579693fd",
              "instanceIdentifier" : "5d4cd549-2624-49cc-a2f0-38b443942d2d",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "cf809c80-7b5e-31ce-af4c-523f3c2be16c",
            "instanceIdentifier" : "00e6e639-ae9b-4c26-248a-89ec88befb5f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "509e505b-574b-3a53-b452-4fe3066dce6c",
              "instanceIdentifier" : "f60357a4-9506-4b72-4ebb-18db77dd3720",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "89ec354b-9894-391b-bc66-11894559d71b",
              "instanceIdentifier" : "d2c4439e-c320-4838-1997-3253869db8e9",
              "name" : "SEND ALERT",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "69fd4f73-11c1-3946-a34d-3e576764e8d8",
            "instanceIdentifier" : "3b4fe14c-17fa-4cd9-e3d7-5aa8fb547e17",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "high priority" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "1f5f67a0-d0a7-3840-a3cd-6900a3643f71",
              "instanceIdentifier" : "f52ffdb6-a583-4dd1-44a2-9b995fd485f6",
              "name" : "RouteOnContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "43ab4201-389b-3c87-b296-96672253eaca",
              "instanceIdentifier" : "b4509ea5-edde-4595-f561-002b54bfe77c",
              "name" : "Store For Later",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "dc778e21-975d-3484-b8df-bac9a46cf608",
            "instanceIdentifier" : "15529742-7b35-4822-48b3-809edd3e80b9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "be835a69-87dc-3fe2-8b5a-b1d5fa790083",
              "instanceIdentifier" : "007c9ae4-795e-41b2-2b23-28b68ccaf362",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "be835a69-87dc-3fe2-8b5a-b1d5fa790083",
              "instanceIdentifier" : "007c9ae4-795e-41b2-2b23-28b68ccaf362",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "171fa677-0591-34d8-ad0c-508ac1492366",
            "instanceIdentifier" : "ae8a7240-7bd0-4341-d048-cc5befb2c787",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "1f5f67a0-d0a7-3840-a3cd-6900a3643f71",
              "instanceIdentifier" : "f52ffdb6-a583-4dd1-44a2-9b995fd485f6",
              "name" : "RouteOnContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "cfd13043-a55a-370d-a3d3-d7dd62cf640b",
              "instanceIdentifier" : "af418612-6920-4348-5870-9f5dd912fb18",
              "name" : "ExtractText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "16406803-0fa4-3e65-a853-55f9fc90b2f3",
            "instanceIdentifier" : "a06404c1-34a4-48e9-f6d8-52d85becb22e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "5eb881ad-8f44-3206-ae35-51c4e276a1a8",
              "instanceIdentifier" : "f6929630-aabd-4047-28d3-e4d6f333226f",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "fbde47fa-78cc-3b31-86c1-6d7b3ca9730e",
              "instanceIdentifier" : "53b1fa4e-3bf1-435f-bcae-f21a71577146",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "7f303100-5ea6-3e24-ad0d-0b73b2fb1c3a",
            "instanceIdentifier" : "7ea014c2-3cf9-4a46-a247-43acbac326f1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "6f884d70-0bc0-38b9-b4d2-4f827a190bf9",
              "instanceIdentifier" : "e830ccee-8663-42a8-c70e-80453313661c",
              "name" : "GetFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "5eb881ad-8f44-3206-ae35-51c4e276a1a8",
              "instanceIdentifier" : "f6929630-aabd-4047-28d3-e4d6f333226f",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "8927d8bd-0322-3f7c-98be-d51334355a76",
            "instanceIdentifier" : "99f0c5c8-2073-48ae-9f72-30f8fce36fd0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "9a8d4cd8-ec76-390c-9a0e-20c9a972a91e",
              "instanceIdentifier" : "7063134a-d245-4cf2-3632-df38567db37f",
              "name" : "GenerateFlowFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "1f5f67a0-d0a7-3840-a3cd-6900a3643f71",
              "instanceIdentifier" : "f52ffdb6-a583-4dd1-44a2-9b995fd485f6",
              "name" : "RouteOnContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "1586eb39-4ee9-30fc-acdd-b04272429c95",
            "instanceIdentifier" : "155c8e81-5d17-477a-52b0-b07bb8eabdb7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "fbde47fa-78cc-3b31-86c1-6d7b3ca9730e",
              "instanceIdentifier" : "53b1fa4e-3bf1-435f-bcae-f21a71577146",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "0 MB",
            "backPressureObjectThreshold" : 0,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "509e505b-574b-3a53-b452-4fe3066dce6c",
              "instanceIdentifier" : "f60357a4-9506-4b72-4ebb-18db77dd3720",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "331a7f5e-9f40-37cf-895e-c196fa26a7bb",
            "instanceIdentifier" : "8ebcbe04-54a7-442f-8b2e-172beeb4b698",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
              "id" : "cfd13043-a55a-370d-a3d3-d7dd62cf640b",
              "instanceIdentifier" : "af418612-6920-4348-5870-9f5dd912fb18",
              "name" : "ExtractText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "5c302bfd-87d0-33b1-8d06-6803b1a5be7e",
          "identifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
          "inputPorts" : [ ],
          "instanceIdentifier" : "91385f74-018c-1000-2ece-2d89e61e53d3",
          "labels" : [ {
            "componentType" : "LABEL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "height" : 352.0,
            "identifier" : "2404c9c0-a0a5-386a-9695-078cbb7e53c5",
            "instanceIdentifier" : "c89fa7cb-d7b1-42da-ff48-9eda4e8a5470",
            "label" : "",
            "position" : {
              "x" : 288.0,
              "y" : 400.0
            },
            "style" : { },
            "width" : 392.0,
            "zIndex" : 0
          } ],
          "name" : "Atelier 4",
          "outputPorts" : [ ],
          "position" : {
            "x" : 632.0,
            "y" : 176.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "89ec354b-9894-391b-bc66-11894559d71b",
            "instanceIdentifier" : "d2c4439e-c320-4838-1997-3253869db8e9",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SEND ALERT",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1376.0,
              "y" : 728.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "9a8d4cd8-ec76-390c-9a0e-20c9a972a91e",
            "instanceIdentifier" : "7063134a-d245-4cf2-3632-df38567db37f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 280.0,
              "y" : -16.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "1 b",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "Data Format" : "Binary"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "mime-type" : {
                "displayName" : "Mime Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "mime-type",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "10 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "6f884d70-0bc0-38b9-b4d2-4f827a190bf9",
            "instanceIdentifier" : "e830ccee-8663-42a8-c70e-80453313661c",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GetFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 976.0,
              "y" : -32.0
            },
            "properties" : {
              "Keep Source File" : "false",
              "Minimum File Age" : "0 sec",
              "Polling Interval" : "0 sec",
              "Input Directory" : "/nifi/input",
              "Batch Size" : "10",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "Recurse Subdirectories" : "true",
              "File Filter" : "[^\\.].*"
            },
            "propertyDescriptors" : {
              "Keep Source File" : {
                "displayName" : "Keep Source File",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Keep Source File",
                "sensitive" : false
              },
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "Polling Interval" : {
                "displayName" : "Polling Interval",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Polling Interval",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GetFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "1f5f67a0-d0a7-3840-a3cd-6900a3643f71",
            "instanceIdentifier" : "f52ffdb6-a583-4dd1-44a2-9b995fd485f6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 992.0,
              "y" : 440.0
            },
            "properties" : {
              "Content Buffer Size" : "1 MB",
              "high priority" : "^(\"R.*)$",
              "Match Requirement" : "content must match exactly",
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "Content Buffer Size" : {
                "displayName" : "Content Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Content Buffer Size",
                "sensitive" : false
              },
              "high priority" : {
                "displayName" : "high priority",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "high priority",
                "sensitive" : false
              },
              "Match Requirement" : {
                "displayName" : "Match Requirement",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Match Requirement",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "fbde47fa-78cc-3b31-86c1-6d7b3ca9730e",
            "instanceIdentifier" : "53b1fa4e-3bf1-435f-bcae-f21a71577146",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 984.0,
              "y" : 208.0
            },
            "properties" : {
              "Remove Trailing Newlines" : "true",
              "Header Line Count" : "0",
              "Line Split Count" : "1"
            },
            "propertyDescriptors" : {
              "Remove Trailing Newlines" : {
                "displayName" : "Remove Trailing Newlines",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Remove Trailing Newlines",
                "sensitive" : false
              },
              "Maximum Fragment Size" : {
                "displayName" : "Maximum Fragment Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Fragment Size",
                "sensitive" : false
              },
              "Header Line Marker Characters" : {
                "displayName" : "Header Line Marker Characters",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header Line Marker Characters",
                "sensitive" : false
              },
              "Header Line Count" : {
                "displayName" : "Header Line Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header Line Count",
                "sensitive" : false
              },
              "Line Split Count" : {
                "displayName" : "Line Split Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line Split Count",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "509e505b-574b-3a53-b452-4fe3066dce6c",
            "instanceIdentifier" : "f60357a4-9506-4b72-4ebb-18db77dd3720",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 312.0,
              "y" : 616.0
            },
            "properties" : {
              "Regular Expression" : "(?s:^.*$)",
              "Replacement Value" : "{ \"field1\" : \"${csv.1}\", \"field2\" : \"${csv.2}\",\n                            \"field3\" : \"${csv.3}\", \"field4\" : \"${csv.4}\" }\n                        ",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "5eb881ad-8f44-3206-ae35-51c4e276a1a8",
            "instanceIdentifier" : "f6929630-aabd-4047-28d3-e4d6f333226f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 288.0,
              "y" : 192.0
            },
            "properties" : {
              "Regular Expression" : "(?s:^.*$)",
              "Replacement Value" : "a,b,c,d",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "be835a69-87dc-3fe2-8b5a-b1d5fa790083",
            "instanceIdentifier" : "007c9ae4-795e-41b2-2b23-28b68ccaf362",
            "maxBackoffPeriod" : "10 mins",
            "name" : "MergeContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 752.0,
              "y" : 728.0
            },
            "properties" : {
              "Keep Path" : "false",
              "Merge Strategy" : "Bin-Packing Algorithm",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "Compression Level" : "1",
              "Maximum Number of Entries" : "10",
              "Minimum Group Size" : "0 B",
              "Maximum number of Bins" : "5",
              "Tar Modified Time" : "${file.lastModifiedTime}",
              "Delimiter Strategy" : "Do Not Use Delimiters",
              "Merge Format" : "Binary Concatenation",
              "Max Bin Age" : "60 seconds",
              "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
              "Minimum Number of Entries" : "5"
            },
            "propertyDescriptors" : {
              "Keep Path" : {
                "displayName" : "Keep Path",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Keep Path",
                "sensitive" : false
              },
              "Maximum Group Size" : {
                "displayName" : "Maximum Group Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Group Size",
                "sensitive" : false
              },
              "Merge Strategy" : {
                "displayName" : "Merge Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Merge Strategy",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "Compression Level" : {
                "displayName" : "Compression Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Compression Level",
                "sensitive" : false
              },
              "Maximum Number of Entries" : {
                "displayName" : "Maximum Number of Entries",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Number of Entries",
                "sensitive" : false
              },
              "Minimum Group Size" : {
                "displayName" : "Minimum Group Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum Group Size",
                "sensitive" : false
              },
              "Maximum number of Bins" : {
                "displayName" : "Maximum number of Bins",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum number of Bins",
                "sensitive" : false
              },
              "Tar Modified Time" : {
                "displayName" : "Tar Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Tar Modified Time",
                "sensitive" : false
              },
              "Delimiter Strategy" : {
                "displayName" : "Delimiter Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delimiter Strategy",
                "sensitive" : false
              },
              "Merge Format" : {
                "displayName" : "Merge Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Merge Format",
                "sensitive" : false
              },
              "Footer File" : {
                "displayName" : "Footer",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Footer File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Max Bin Age" : {
                "displayName" : "Max Bin Age",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max Bin Age",
                "sensitive" : false
              },
              "Demarcator File" : {
                "displayName" : "Demarcator",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Demarcator File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Correlation Attribute Name" : {
                "displayName" : "Correlation Attribute Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Correlation Attribute Name",
                "sensitive" : false
              },
              "Header File" : {
                "displayName" : "Header",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Header File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "mergecontent-metadata-strategy" : {
                "displayName" : "Metadata Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "mergecontent-metadata-strategy",
                "sensitive" : false
              },
              "Minimum Number of Entries" : {
                "displayName" : "Minimum Number of Entries",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Minimum Number of Entries",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "5acf7f53-19fe-3b3d-81a2-c568579693fd",
            "instanceIdentifier" : "5d4cd549-2624-49cc-a2f0-38b443942d2d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 304.0,
              "y" : 824.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "43ab4201-389b-3c87-b296-96672253eaca",
            "instanceIdentifier" : "b4509ea5-edde-4595-f561-002b54bfe77c",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Store For Later",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 752.0,
              "y" : 992.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.24.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a24228d8-9d62-380c-ba80-8b5da3c8c9f2",
            "identifier" : "cfd13043-a55a-370d-a3d3-d7dd62cf640b",
            "instanceIdentifier" : "af418612-6920-4348-5870-9f5dd912fb18",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ExtractText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 304.0,
              "y" : 408.0
            },
            "properties" : {
              "Enable Unicode Predefined Character Classes" : "false",
              "Permit Whitespace and Comments in Pattern" : "false",
              "Enable Unicode-aware Case Folding" : "false",
              "csv" : "(.+),(.+),(.+),(.+)",
              "Enable DOTALL Mode" : "false",
              "Enable Unix Lines Mode" : "false",
              "extract-text-enable-named-groups" : "false",
              "Maximum Buffer Size" : "1 MB",
              "Enable Canonical Equivalence" : "false",
              "Enable Case-insensitive Matching" : "false",
              "Enable Multiline Mode" : "false",
              "Maximum Capture Group Length" : "1024",
              "Enable Literal Parsing of the Pattern" : "false",
              "Character Set" : "UTF-8",
              "Include Capture Group 0" : "false",
              "extract-text-enable-repeating-capture-group" : "false"
            },
            "propertyDescriptors" : {
              "Enable Unicode Predefined Character Classes" : {
                "displayName" : "Enable Unicode Predefined Character Classes",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Unicode Predefined Character Classes",
                "sensitive" : false
              },
              "Permit Whitespace and Comments in Pattern" : {
                "displayName" : "Permit Whitespace and Comments in Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permit Whitespace and Comments in Pattern",
                "sensitive" : false
              },
              "Enable Unicode-aware Case Folding" : {
                "displayName" : "Enable Unicode-aware Case Folding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Unicode-aware Case Folding",
                "sensitive" : false
              },
              "csv" : {
                "displayName" : "csv",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "csv",
                "sensitive" : false
              },
              "Enable DOTALL Mode" : {
                "displayName" : "Enable DOTALL Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable DOTALL Mode",
                "sensitive" : false
              },
              "Enable Unix Lines Mode" : {
                "displayName" : "Enable Unix Lines Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Unix Lines Mode",
                "sensitive" : false
              },
              "extract-text-enable-named-groups" : {
                "displayName" : "Enable named group support",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "extract-text-enable-named-groups",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Enable Canonical Equivalence" : {
                "displayName" : "Enable Canonical Equivalence",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Canonical Equivalence",
                "sensitive" : false
              },
              "Enable Case-insensitive Matching" : {
                "displayName" : "Enable Case-insensitive Matching",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Case-insensitive Matching",
                "sensitive" : false
              },
              "Enable Multiline Mode" : {
                "displayName" : "Enable Multiline Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Multiline Mode",
                "sensitive" : false
              },
              "Maximum Capture Group Length" : {
                "displayName" : "Maximum Capture Group Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Capture Group Length",
                "sensitive" : false
              },
              "Enable Literal Parsing of the Pattern" : {
                "displayName" : "Enable Literal Parsing of the Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Literal Parsing of the Pattern",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Include Capture Group 0" : {
                "displayName" : "Include Capture Group 0",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Include Capture Group 0",
                "sensitive" : false
              },
              "extract-text-enable-repeating-capture-group" : {
                "displayName" : "Enable repeating capture group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "extract-text-enable-repeating-capture-group",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExtractText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ]
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ]
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}